# -*- shell-script -*-x

# I prefer interactive mode
alias mv="mv -i"
alias rm="rm -i"
alias cp="cp -i"
alias ll="ls -l"
alias la="ls -a"
alias lsd='ls -ld *(-/DN)'
alias ssh="ssh -C"
alias df="df -h"

# zsh corret clea to flea
[ -x `which flea` ] && alias clea="clear"

# start mutt with list mailboxes
[ -x `which mutt` ] && alias mutt="mutt -y"

# aterm
[ -x `which aterm` ] && alias aterm="aterm -bg black -fg AntiqueWhite +sb --geometry 110x48+0+10"

# LDAP
if [ -x `which ldapsearch` ]; then
	local BASE_DN="dc=hash-group,dc=net"
	local ADMIN_DN="cn=admin,ou=People,$BASE_DN"
	alias ldapadd="ldapadd -W -x -D \"$ADMIN_DN\""
	alias ldapmodify="ldapmodify -W -x -D \"$ADMIN_DN\""
fi

# do a du -hs on each dir on current path
alias lsdir="for dir in *;do;if [ -d \$dir ];then;du -hsL \$dir 2>/dev/null;fi;done"

# misc
[ -x `which makepasswd` ] && alias makepasswd="makepasswd | tr A-Z a-z"

# ssh key management
if [ -x `which keychain` ] && [ -r ~/.ssh/id_dsa ] ; then
	# run keychain
	keychain ~/.ssh/id_dsa
	# File to load depend on keychain version ~#[{~# (suckers)
#	if [ -d ~/.keychain ]
#	then
#		. ~/.keychain/`hostname`-sh
#	else
#		. ~/.ssh-agent-`hostname`
#	fi
	[ -r ~/.ssh-agent-`hostname` ] && . ~/.ssh-agent-`hostname`
	[ -r ~/.keychain/`hostname`-sh ] &&  ~/.keychain/`hostname`-sh
else
	[ -x `which startx` ] && [ -x `which ssh-agent` ] && alias startx="ssh-agent startx"
fi

# Minicom (serial console rulez)
[ -x `which minicom` ] && alias minicom="minicom -o" 

# Aterm 
[ -x `which aterm` ] && alias aterm="aterm -bg black -fg AntiqueWhite +sb --geometry 110x48+112+32"

# Make a certificat
alias cert="openssl req -new -x509 -nodes -out cert.pem -keyout cert.key -days 365"

# ping (since control-c don't work for break ping)
alias ping="ping -c 3"

# IPv6 Stuff
alias netstat6="netstat -A inet6"

# Indent (according to GCS - Gnu Coding Standards)
[ -x `which indent` ] && alias indent="indent -nbad -bap -nbc -bbo -bl -bli2 -bls -ncdb -nce -cp1 -cs -di2 -ndj -nfc1 -nfca -hnl -i2 -ip5 -lp -pcs -psl -nsc -nsob"

# acpi (show all available informations)
[ -x `which acpi` ] && alias acpi="acpi -V"

# Etags
[ -x `which etags` ] && alias etags="etags --members"
