#
# History options
#

setopt EXTENDED_HISTORY		# add a timestamp and the duration of each command
setopt SHARE_HISTORY	 	# _all_ zsh sessions share the same history files
setopt HIST_IGNORE_ALL_DUPS	# ignores duplications

HISTFILE=~/.zsh/histories/${$(hostname)//.*/}
HISTSIZE=10000
SAVEHIST=10000

export HISTFILE HISTSIZE SAVEHIST
