
PATH=$PATH:~/.zsh/bin:~/bin:/sbin:/usr/sbin:/usr/local/sbin
export PATH 

[ -d /usr/local/info ] && export INFO_PATH="$INFO_PATH;/usr/local/info"

# vi/vim
if [ -x `which vim` ]; then 
	alias vi="vim"
	export EDITOR=vim
	export VISUAL=vim
fi

# less
if [ -x `which less` ]; then
	export PAGER=less
	export LESS="-ir"
fi

export CVSROOT=:pserver:asyd@localhost:/home/cvs
