Source: zsh-lovers
Section: doc
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 8.0.0)
Build-Depends-Indep: asciidoc, asciidoc-dblatex, xsltproc, dblatex
Standards-Version: 3.9.8
Homepage: https://grml.org/zsh/
Vcs-git: git://git.grml.org/zsh-lovers.git
Vcs-Browser: https://git.grml.org/?p=zsh-lovers.git

Package: zsh-lovers
Architecture: all
Description: tips, tricks and examples for the zsh
 Whenever you look at the zsh manual you might wonder
 why there are no examples for those simply things in
 (shell) life. The zsh contains many features, but
 there was no manpage with some examples (like
 procmailex(5)). That's why the package zsh-lovers
 exists. See man zsh-lovers and included documentation.
