#!/usr/bin/make -f

build: build-stamp

build-stamp: 
	dh_testdir

        # html:
	asciidoc zsh-lovers.1.txt
        # manpage:
	a2x -f manpage zsh-lovers.1.txt

        # pdf:
	#  notice: you might have to run: ln -s /usr/bin/fop ~/bin/fop.sh
	#  to work around http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=376523
	a2x -f pdf zsh-lovers.1.txt

	touch build-stamp

clean:
	dh_testdir
	dh_testroot

	#if [ -d $(CURDIR)/debian/saved ]; then \
	#	mv $(CURDIR)/debian/saved/* $(CURDIR); \
	#	rmdir $(CURDIR)/debian/saved ; \
	#fi
	rm -f build-stamp
	dh_clean 
	# rm -rf $(CURDIR)/debian/zsh-lovers/

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs usr/share/doc/zsh-lovers/zsh_people usr/share/man/man1 usr/share/vim/syntax

	cp -a zsh_people       debian/zsh-lovers/usr/share/doc/zsh-lovers/
	install -m 644 zsh.vim debian/zsh-lovers/usr/share/vim/syntax/zsh.vim

binary-indep: build install
	# We have nothing to do

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installman zsh-lovers.1
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
